<div style="display:inline-grid;border-left: 1px solid #000">
  <p>Gap Down</p>
  <% for(var i=0; i<gapDown.length; i++) {%>
    <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + gapDown[i] + ".html" %>><%= gapDown[i] %></a></p>
  <% } %>
</div>
<div style="display:inline-grid;border-left: 1px solid #000">
  <p>Bearish Hammer</p>
  <% for(var i=0; i<bearishHammer.length; i++) {%>
    <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + bearishHammer[i] + ".html" %>><%= bearishHammer[i] %></a></p>
  <% } %>
</div>
<div style="display:inline-grid;border-left: 1px solid #000">
  <p>Bearish Hammer Inverted</p>
  <% for(var i=0; i<bearishHammerInverted.length; i++) {%>
    <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + bearishHammerInverted[i] + ".html" %>><%= bearishHammerInverted[i] %></a></p>
  <% } %>
</div>
<div style="display:inline-grid;border-left: 1px solid #000">
  <p>Bearish Engulfing</p>
  <% for(var i=0; i<bearishEngulfing.length; i++) {%>
    <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + bearishEngulfing[i] + ".html" %>><%= bearishEngulfing[i] %></a></p>
  <% } %>
</div>
<div style="display:inline-grid;border-left: 1px solid #000">
  <p>Morning Star</p>
  <% for(var i=0; i<morningStar.length; i++) {%>
    <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + morningStar[i] + ".html" %>><%= morningStar[i] %></a></p>
  <% } %>
</div>
<div style="display:inline-grid;border-left: 1px solid #000">
  <p>Three Black Crows</p>
  <% for(var i=0; i<threeBlackCrows.length; i++) {%>
    <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + threeBlackCrows[i] + ".html" %>><%= threeBlackCrows[i] %></a></p>
  <% } %>
</div>