  <div style="display:inline-grid;width:15%">
    <p>Gap Up</p>
    <% for(var i=0; i<gapUp.length; i++) {%>
      <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + gapUp[i] + ".html" %>><%= gapUp[i] %></a></p>
    <% } %>
  </div>
  <div style="display:inline-grid;width:15%">
    <p>Bullish Hammer</p>
    <% for(var i=0; i<bullishHammer.length; i++) {%>
      <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + bullishHammer[i] + ".html" %>><%= bullishHammer[i] %></a></p>
    <% } %>
  </div>
  <div style="display:inline-grid;width:15%">
    <p>Bullish Hammer Inverted</p>
    <% for(var i=0; i<bullishHammerInverted.length; i++) {%>
      <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + bullishHammerInverted[i] + ".html" %>><%= bullishHammerInverted[i] %></a></p>
    <% } %>
  </div>
  <div style="display:inline-grid;width:15%">
    <p>Bullish Engulfing</p>
    <% for(var i=0; i<bullishEngulfing.length; i++) {%>
      <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + bullishEngulfing[i] + ".html" %>><%= bullishEngulfing[i] %></a></p>
    <% } %>
  </div>
  <div style="display:inline-grid;width:15%">
    <p>Eveving Star</p>
    <% for(var i=0; i<eveningStar.length; i++) {%>
      <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + eveningStar[i] + ".html" %>><%= eveningStar[i] %></a></p>
    <% } %>
  </div>