<div style="display:inline-grid;width:5%">
  <% for(var i=0; i < (optionDataColl[0].length)/2; i++) {%>
    <p><%= (optionDataColl[0][i].price).toFixed(2) %></p>
  <% } %>
</div>
<div style="display:inline-grid;width:5%">
  <% for(var j=0; j < (optionDataColl[0].length)/2; j++) {%>
    <p><%= optionDataColl[0][j].strikePrice %></p>
  <% } %>
</div>
<div style="display:inline-grid;width:5%">
  <% for(; i < optionDataColl[0].length; i++) {%>
    <p><%= (optionDataColl[0][i].price).toFixed(2) %></p>
  <% } %>
</div>
<div style="display:inline-grid;width:5%"></div>
<div style="display:inline-grid;width:5%">
  <% for(var i=0; i < (optionDataColl[1].length)/2; i++) {%>
    <p><%= (optionDataColl[1][i].price).toFixed(2) %></p>
  <% } %>
</div>
<div style="display:inline-grid;width:5%">
  <% for(var j=0; j < (optionDataColl[1].length)/2; j++) {%>
    <p><%= optionDataColl[1][j].strikePrice %></p>
  <% } %>
</div>
<div style="display:inline-grid;width:5%">
  <% for(; i < optionDataColl[1].length; i++) {%>
    <p><%= (optionDataColl[1][i].price).toFixed(2) %></p>
  <% } %>
</div>
<div style="display:inline-grid;width:5%"></div>
<div style="display:inline-grid;width:5%">
  <% for(var i=0; i < (optionDataColl[2].length)/2; i++) {%>
    <p><%= (optionDataColl[2][i].price).toFixed(2) %></p>
  <% } %>
</div>
<div style="display:inline-grid;width:5%">
  <% for(var j=0; j < (optionDataColl[2].length)/2; j++) {%>
    <p><%= optionDataColl[2][j].strikePrice %></p>
  <% } %>
</div>
<div style="display:inline-grid;width:5%">
  <% for(; i < optionDataColl[2].length; i++) {%>
    <p><%= (optionDataColl[2][i].price).toFixed(2) %></p>
  <% } %>
</div>